XsDiff-UI/first.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/customer"
           xmlns:tns="http://example.com/customer"
           elementFormDefault="qualified">

    <!-- Customer schema version 1.0 -->
    <xs:element name="customer" type="tns:CustomerType"/>

    <xs:complexType name="CustomerType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="address" type="tns:AddressType"/>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="status" type="tns:StatusType" default="active"/>
    </xs:complexType>

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="zipCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="StatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="active"/>
            <xs:enumeration value="inactive"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Product definition -->
    <xs:element name="product" type="tns:ProductType"/>

    <xs:complexType name="ProductType">
        <xs:sequence>
            <xs:element name="productId" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="price" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
